// Define variables for your color scheme
$black: #000000;
$yellow-green: #9FCC2E;
$red: #E4572E;
$turquoise-blue: #03F7EB;
$light-blue: #E9F9F8;


// For example:
$red: #E4572E;
$blue: #03F7EB;
$yellow: #FDB631;
$orange: #E67E22;
$green: #9FCC2E;
$gray: #000000;
$light-gray: #E9F9F8;
